.form-control {
    margin: auto; 
    padding: 25px;
    border: 4px solid grey;
    display: grid; 
    background-image: url(
    "https://scontent.fclj4-1.fna.fbcdn.net/v/t39.30808-6/296826278_138417292207612_5098315808071624495_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Ou1JO0yMm6kAX8aMH2B&_nc_ht=scontent.fclj4-1.fna&oh=00_AfCJ8dj57VZNHJL1-epUc95yf5iUSkt2H4VircVPOgv1bQ&oe=644AE656"
    );
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 35rem;
}


.location-container {
    display: grid;
    justify-content: center;
    color: aliceblue;
    justify-items: center;
    margin: 4px;
    align-items: end;
    align-content: space-around
}

.location-map { 
    display: flex;
    /* justify-items: center; */
    border: 2px solid grey;
    width: 35rem;
    height: 20rem;
}